
{% extends "base.html" %}
{% block title %}Contact - My Portfolio{% endblock %}
{% block content %}
<h2>Contact Me</h2>
<p>You can reach me at:</p>
<ul>
    <li>Email: <a href="mailto:spoorthibs2623@gmail.com">spoorthibs2623@gmail.com</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/spoorthibs22/" target="_blank">linkedin.com/in/spoorthibs22</a></li>
    <li>GitHub: <a href="https://github.com/spoorthibs2623" target="_blank">github.com/spoorthibs2623</a></li>
</ul>
{% endblock %}
